<%= link_to "back", auth_organization_path(@organization.id), class: 'primary-button' %>
<div class='lanes-container'>
  <% @lanes.each do |lane| %>
    <div class='lane'>
    <h4><%= lane.name %></h4>
      <% lane.tickets.each do |ticket| %>
        <p><%= ticket.public_label %></p>
        <p><%= ticket.nickname %></p>
        <br />
      <% end %>
    </div>
  <% end %>
</div>
