.lanes-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  .lane {
    flex: 0 0 auto;
    flex-direction: column;
    width: 300px;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    border: 1px solid black;
    align-items: center;
    .lane-header {
      display: flex;
      flex-direction: space-between;
    }
    .ticket-container {
      border: 1px solid black;
      padding: 12px;
      margin: 5px 0px 5px 0px;
      display: flex;
      align-items: center;
      // .ticket-column {

      // }
    }
  }
}

.pools-page {
  .pools-container {
    display: flex;
    justify-content: space-around;
  
  }
  
  .pools-nav {
    display: flex;
    justify-content: space-between;
  }
}