<div>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %> 
  <h3><%= @organization.name %></h3>
  <% @pools.each do |pool| %>
    <%= link_to "#{pool.name}", auth_pool_path(pool.id), class: 'primary-button' %>
    <hr />
  <% end %>
</div>